* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background: linear-gradient(to top, rgba(1, 2, 3, 0.5), rgba(1, 2, 3, 0.5)),
        url(../assets/funcky-background.jpg) center/cover fixed no-repeat;
}
